<head>
        <!DOCTYPE html>
        <html>
        <head>
        
          <title>Jobs</title>
          <meta http-equiv="Cache-control" content="public">
          <meta name="viewport" content="width=device-width, user-scalable=no">

        
        </head>
        <h1>Jobs DB</h1>

        <h3>Full DB</h3>
        <div id= "jobsDB">
 
        <% jobs.forEach( (elem) => { %>
          <% if(elem.name){ %>  
            <div><%- JSON.stringify(elem.name)%> : <%- JSON.stringify(elem.jobs) %>
            [<a href= "del/<%- elem._id %>" >x</a>]
            </div>
            <% }  %>
          
        <% }) %>
        

        </div>

        <h3>New company</h3>

        <form action="/newcompany" method="POST">
          <input type="text" name="company" placeholder="company" >
          <input type="submit" value="Add">
          <% if(msg === "err80"){ %>
            <div class="errorMsg">This company already exists </div>
            <% } %>
            <% if(msg === "err50"){ %>
              <div class="errorMsg">Please enter a valid name </div>
              <% } %>
              <% if(msg === "newCompAdded"){ %>
                <div class="okMsg">Company created </div>
                <% } %>
              


        </form>

        <h3>New job entry</h3>


        <form action="/newjob" method="POST">
            <select name="company" id="company">
                <option value="aa" selected></option>
                
                <% jobs.forEach( (job) => { %>
                  <% if(job.name){ %>  
                    <option value = <%- JSON.stringify(job.name) %> >
                        <%- JSON.stringify(job.name) %>
                    </option>              
                    <% }  %>
                  
                <% }) %>
                
            </select>
            <input type="text" name="jobName" value="job name" >
            <input type="text" name="salary"  value="Salary" >
            <input type="text" name="experience" value= "experience level" >
            <input type="submit" value="Insert">
        
        </form>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        End

<style>
  #jobsDB {
    border: 1px solid green;
    overflow: scroll;
    height: 200px;
  }

  .errorMsg{
    color: red;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;

    animation: fade 0.5s 1;
    -webkit-animation: fade 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:6s;
    -webkit-animation-delay:1s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

}
.okMsg{
    color: green;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;

    animation: fade 0.5s 1;
    -webkit-animation: fade 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:6s;
    -webkit-animation-delay:1s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}

@keyframes  fade{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes  fade{
    from {opacity :1;}
    to {opacity :0;}
}


</style>

<script>

    


</script>